<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>OREBU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input 
              type="email" 
              [(ngModel)]="loginData.email" 
              name="email" 
              required
              autocomplete="email"
              inputmode="email"
              email>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input 
              type="password" 
              [(ngModel)]="loginData.password" 
              name="password" 
              required
              minlength="6"
              autocomplete="current-password">
            </ion-input>
          </ion-item>

          <ion-button 
            expand="block" 
            type="submit" 
            class="ion-margin-top"
            [disabled]="!loginForm.form.valid">
            Entrar
          </ion-button>

          <ion-button 
            expand="block" 
            fill="clear" 
            (click)="goToRegister()"
            class="ion-margin-top">
            Criar nova conta
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
