<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="navigateToFeed()">
        <ion-icon slot="icon-only" name="newspaper-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="navigateToElo()">
        <ion-icon slot="icon-only" name="people-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="onLogout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Barra de navegação secundária -->
  <ion-toolbar class="sub-header">
    <ion-segment value="feed" mode="ios">
      <ion-segment-button value="feed" (click)="navigateToFeed()">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-segment-button>

      <ion-segment-button value="elo" (click)="navigateToElo()">
        <ion-icon name="people"></ion-icon>
        <ion-label>Elo</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
