<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>OREBU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="register-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Criar Conta</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="onRegister()" #registerForm="ngForm">
          <ion-item>
            <ion-label position="floating">&#64;Username</ion-label>
            <ion-input 
              type="text" 
              [(ngModel)]="registerData.username" 
              name="username" 
              required
              minlength="3">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input 
              type="email" 
              [(ngModel)]="registerData.email" 
              name="email" 
              required
              email>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Data de Nascimento</ion-label>
            <ion-input 
              type="date" 
              [(ngModel)]="registerData.birthdate" 
              name="birthdate" 
              required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Gênero</ion-label>
            <ion-select [(ngModel)]="registerData.gender" name="gender" required>
              <ion-select-option value="fem">Fem</ion-select-option>
              <ion-select-option value="desfem">Desfem</ion-select-option>
              <ion-select-option value="trans">Trans</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Orientação Sexual</ion-label>
            <ion-select [(ngModel)]="registerData.sexualOrientation" name="sexualOrientation" required>
              <ion-select-option value="lesbian">Lésbica</ion-select-option>
              <ion-select-option value="bisexual">Bissexual</ion-select-option>
              <ion-select-option value="pansexual">Pansexual</ion-select-option>
              <ion-select-option value="other">Outra</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input 
              type="password" 
              [(ngModel)]="registerData.password" 
              name="password" 
              required
              minlength="6">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirmar Senha</ion-label>
            <ion-input 
              type="password" 
              [(ngModel)]="registerData.confirmPassword" 
              name="confirmPassword" 
              required>
            </ion-input>
          </ion-item>

          <ion-button 
            expand="block" 
            type="submit" 
            class="ion-margin-top"
            [disabled]="!registerForm.form.valid">
            Criar Conta
          </ion-button>

          <ion-button 
            expand="block" 
            fill="clear" 
            (click)="goToLogin()"
            class="ion-margin-top">
            Já tem uma conta? Entrar
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
