<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <ion-item [class.ion-invalid]="username.invalid && (username.dirty || username.touched)">
      <ion-label position="floating">Username</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="registerData.username" 
        name="username" 
        required
        #username="ngModel">
      </ion-input>
      <ion-note slot="error" *ngIf="username.invalid && (username.dirty || username.touched)">
        Username is required
      </ion-note>
    </ion-item>

    <ion-item [class.ion-invalid]="email.invalid && (email.dirty || email.touched)">
      <ion-label position="floating">Email</ion-label>
      <ion-input 
        type="email" 
        [(ngModel)]="registerData.email" 
        name="email" 
        required 
        email
        #email="ngModel">
      </ion-input>
      <ion-note slot="error" *ngIf="email.invalid && (email.dirty || email.touched)">
        Please enter a valid email address
      </ion-note>
    </ion-item>

    <ion-item [class.ion-invalid]="birthdate.invalid && (birthdate.dirty || birthdate.touched)">
      <ion-label position="floating">Birthdate</ion-label>
      <ion-input 
        type="date" 
        [(ngModel)]="registerData.birthdate" 
        name="birthdate" 
        required
        #birthdate="ngModel">
      </ion-input>
      <ion-note slot="error" *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)">
        Birthdate is required
      </ion-note>
    </ion-item>

    <ion-item [class.ion-invalid]="gender.invalid && (gender.dirty || gender.touched)">
      <ion-label position="floating">Gender</ion-label>
      <ion-select 
        [(ngModel)]="registerData.gender" 
        name="gender" 
        required
        #gender="ngModel">
        <ion-select-option value="fem">Fem</ion-select-option>
        <ion-select-option value="desfem">Desfem</ion-select-option>
        <ion-select-option value="trans">Trans</ion-select-option>
      </ion-select>
      <ion-note slot="error" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
        Please select your gender
      </ion-note>
    </ion-item>

    <ion-item [class.ion-invalid]="orientation.invalid && (orientation.dirty || orientation.touched)">
      <ion-label position="floating">Sexual Orientation</ion-label>
      <ion-select 
        [(ngModel)]="registerData.sexualOrientation" 
        name="orientation" 
        required
        #orientation="ngModel">
        <ion-select-option value="lesbian">Lesbian</ion-select-option>
        <ion-select-option value="bisexual">Bisexual</ion-select-option>
        <ion-select-option value="pansexual">Pansexual</ion-select-option>
      </ion-select>
      <ion-note slot="error" *ngIf="orientation.invalid && (orientation.dirty || orientation.touched)">
        Please select your sexual orientation
      </ion-note>
    </ion-item>

    <ion-item [class.ion-invalid]="password.invalid && (password.dirty || password.touched)">
      <ion-label position="floating">Password</ion-label>
      <ion-input 
        type="password" 
        [(ngModel)]="registerData.password" 
        name="password" 
        required 
        minlength="6"
        #password="ngModel">
      </ion-input>
      <ion-note slot="error" *ngIf="password.invalid && (password.dirty || password.touched)">
        Password must be at least 6 characters
      </ion-note>
    </ion-item>

    <ion-item [class.ion-invalid]="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input 
        type="password" 
        [(ngModel)]="registerData.confirmPassword" 
        name="confirmPassword" 
        required
        #confirmPassword="ngModel">
      </ion-input>
      <ion-note slot="error" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        Please confirm your password
      </ion-note>
    </ion-item>

    <ion-text color="danger" *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </ion-text>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="registerForm.invalid || isLoading">
        <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">Register</span>
      </ion-button>

      <ion-button expand="block" fill="clear" (click)="goToLogin()" [disabled]="isLoading">
        Already have an account? Login
      </ion-button>
    </div>
  </form>
</ion-content>
