:root {
  /** primary **/
  --ion-color-primary: #b5dcc5;
  --ion-color-primary-rgb: 181, 220, 197;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #9fc2ad;
  --ion-color-primary-tint: #bce0cb;

  /** secondary **/
  --ion-color-secondary: #d4a5a5;
  --ion-color-secondary-rgb: 212, 165, 165;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #bb9191;
  --ion-color-secondary-tint: #d8aeae;

  /** tertiary **/
  --ion-color-tertiary: #ffcc99;
  --ion-color-tertiary-rgb: 255, 204, 153;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0b487;
  --ion-color-tertiary-tint: #ffd1a3;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f0e6d4;
  --ion-color-light-rgb: 240, 230, 212;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d3cabb;
  --ion-color-light-tint: #f2e8d8;

  /** background and text colors **/
  --ion-background-color: #f0e6d4;
  --ion-background-color-rgb: 240, 230, 212;
  --ion-text-color: #a8c3b5;
  --ion-text-color-rgb: 168, 195, 181;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-primary: #b5dcc5;
    --ion-color-primary-rgb: 181, 220, 197;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #9fc2ad;
    --ion-color-primary-tint: #bce0cb;
  }
}
